<nav class="topnav"><div class="topnav-inner">
  <a href="index.html" class="topnav-brand"><span class="dot"></span>Rodriguez Residence</a>
  <div class="topnav-links">
    <a href="index.html">Dashboard</a>
    <a href="log.html">Daily Log</a>
    <a href="selections.html">Selections</a>
    <a href="accounting.html" id="navAccounting">Accounting</a>
    <a href="accounting.html#co" id="navCO">Change Orders</a>
    <a href="gantt.html">Gantt</a>
    <a href="draws.html">Draws</a>
    <a href="budget.html">Budget &amp; Schedule</a>
    <a href="https://drive.google.com/drive/u/0/folders/1kS-2awScLDAnGS973xD0D28RxynI49Si" target="_blank" style="color:var(--cyan)">📁 Drive</a>
  </div>
</div></nav>